<section class="flex flex-column gap-4 p-3" *ngIf="currentUser">
    <!-- Profile Section -->
    <div class="flex align-items-center gap-4 p-3 surface-card border-round shadow-2">
        <img class="border-circle w-5rem h-5rem shadow-3" [src]="currentUser.photoURL" alt=""
            style="object-fit: cover" />
        <div class="flex flex-column">
            <p class="text-2xl font-semibold text-primary">
                Bienvenido {{ currentUser.displayName }}
            </p>
            <p class="text-sm text-500">
                Último acceso: 04/05/2022 a las 10:24 am
            </p>
        </div>
    </div>

    <div class="flex flex-row flex-wrap lg:flex-nowrap gap-4">
        <div class="w-full">
            <p-card>
                <div class="flex align-items-center gap-2">
                    <div
                        class=" bg-primary border-circle p-3 w-4rem h-4rem flex justify-content-center align-items-center">
                        <i class=" text-2xl  pi pi-eye"></i>
                    </div>
                    <div>
                        <p class="font-semibold text-xl">Total de proyectos</p>
                        <p class="font-semibold text-4xl">{{proyects.length}}</p>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="w-full">
            <p-card>
                <div class="flex align-items-center gap-2">
                    <div
                        class=" bg-green-500 border-circle p-3 w-4rem h-4rem flex justify-content-center align-items-center">
                        <i class=" text-2xl  pi pi-eye"></i>
                    </div>
                    <div>
                        <p class="font-semibold text-xl">Total de solicitudes</p>
                        <p class="font-semibold text-4xl">{{notificacion.length}}</p>
                    </div>
                </div>
            </p-card>
        </div>
    </div>

    <div class="flex flex-column gap-5 w-full">

        <div class="w-full">
            <p-card>
                <div class="flex flex-column gap-5">
                    <div>
                        <p class=" font-semibold text-4xl"> Últimos proyectos </p>
                    </div>
                    <p-carousel [value]="proyects" [numVisible]="3" [numScroll]="3" [circular]="true"
                        [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
                        <ng-template let-proyect pTemplate="item">
                            <div class="border-1 surface-border border-round m-2 p-3">
                                <div class="mb-3">
                                    <div class="relative mx-auto">
                                        <img style="object-fit: cover;" height="200"
                                            src="https://images.unsplash.com/photo-1517463700628-5103184eac47?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGltZSUyMHdhdGNofGVufDB8fDB8fHww"
                                            [alt]="proyect.title" class="w-full border-round" />
                                    </div>
                                </div>
                                <div class="mb-3 font-medium">
                                    {{ proyect.title }}
                                </div>
                                <div class="flex justify-content-between align-items-center">
                                    <div class="mt-0 font-semibold text-xl">
                                        {{ proyect.budget | currency}}
                                    </div>
                                    <span>
                                        <p-button icon="pi pi-eye" severity="secondary" [outlined]="true"
                                            (onClick)="openAdminDetails(proyect)" />
                                        <!-- <p-button icon="pi pi-shopping-cart" styleClass="ml-2" /> -->
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </p-card>

        </div>

        <!-- <div class="w-full">
            <div class="flex flex-column gap-5">
                <div>
                    <p class=" font-semibold text-4xl"> Últimos proyectos </p>
                </div>
                <p-card>
                    <div>
                        <p-chart type="bar" [data]="data2" [options]="options2" />
                    </div>
                </p-card>
            </div>
        </div> -->
    </div>


</section>
