<div class="main-container">

    <form [formGroup]="adminForm">
        <div class="flex flex-column mb-4">
            <label class="mb-1">Nombre(s)<span style="color:red">*</span></label>
            <input type="text" pInputText formControlName="name" trim="blur" />
            <small *ngIf="adminForm.controls['name'].invalid && adminForm.controls['name'].touched" class="p-error">*
                Requerido</small>
        </div>

        <div class="flex flex-column mb-4">
            <label class="mb-1">Tipo de usuario<span style="color:red">*</span></label>
            <p-dropdown formControlName="userType" [options]="['Administrador']"
                placeholder="Seleccione una opción"></p-dropdown>
            <small *ngIf="adminForm.controls['userType'].invalid && adminForm.controls['userType'].touched"
                class="p-error">*
                Requerido</small>
        </div>

        <div class="flex flex-column mb-4">
            <label class="mb-1">Correo electrónico<span style="color:red">*</span></label>
            <input type="text" pInputText formControlName="email" trim="blur" />
            <small *ngIf="adminForm.controls['email'].invalid && adminForm.controls['email'].touched" class="p-error">*
                Requerido</small>
        </div>

        <!-- *ngIf="!isEdit" -->
        @if (!isEdit) {
        <div class="flex flex-column mb-4">
            <label class="mb-1">{{ isEdit ? 'Nueva contraseña' :'Contraseña'}}<span style="color:red">*</span></label>
            <p-password formControlName="password" [toggleMask]="true"></p-password>
            <small *ngIf="adminForm.controls['password'].invalid && adminForm.controls['password'].touched"
                class="p-error">*
                Requerido</small>
        </div>
        }


        <div class="flex flex-column mb-4">
            <label class="mb-1">Celular</label>
            <p-inputMask mask="(999) 999-9999" formControlName="phone" placeholder="(999) 999-9999"></p-inputMask>
        </div>
    </form>
</div>

<div class="flex justify-content-end gap-3">
    <p-button label="Cancelar" icon="pi pi-times" [loading]="loader" (onClick)="ref.close(false)" severity="danger" />
    <p-button label="Guardar" icon="pi pi-check" [loading]="loader" (onClick)="validateForm()" />
</div>
