<div class=" flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="/assets/hexafrelance.jpg"
            alt="CardioTrack" class="mb-5 w-15rem flex-shrink-0">
        <div
            >
            <div >

                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Inicio de sesión</div>
                    <!-- <span class="text-600 font-medium">Inicia sesion para continuar</span> -->
                </div>

                <div>

                    <form [formGroup]="loginForm" class="flex flex-column gap-5">
                        <div class="">
                            <p-floatLabel>
                            <input formControlName="email" id="email1" type="text"
                                pInputText class="w-full border-round-3xl shadow-1 py-3 px-4" >
                                <label for="email1" class="px-3">Correo
                                    electrónico</label>
                                </p-floatLabel>
                        </div>
                        <div class="">
                            <p-floatLabel>
                            <p-password [feedback]="false" formControlName="password" id="password1"
                                 [toggleMask]="true"
                                inputStyleClass="w-full py-3 px-4 md:w-30rem border-round-3xl shadow-1"></p-password>
                                <label for="password1" class="px-3">Contraseña</label>
                            </p-floatLabel>
                        </div>
                        <div class="flex flex-column gap-3">
                            <div class="flex align-items-center justify-content-end gap-5">
                                <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                                    style="color: var(--primary-color)" (click)="recoverPassword()">¿Olvidaste tu
                                    contraseña?</a>
                            </div>
                            <button pButton pRipple label="Iniciar sesión" class="w-full p-3 text-xl border-round-3xl" [loading]="loader"
                                style="background-color: var(--primary-color); border: none;"
                                (click)="submitForm()"></button>
                        </div>
                        <p-messages *ngIf="showMessages" [value]="msgs"></p-messages>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
