<!-- @if (currentUser) { -->
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="/assets/hexafrelance.png" alt="logo">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" style="margin: 0;"
        (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>



    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <button class="p-link layout-topbar-button mr-5" (click)="op.toggle($event)">
            <i class="pi pi-bell"></i>
        </button>

        <p-overlayPanel #op>
            <div class="flex flex-column gap-3 w-25rem">
                <div>
                    <span class="font-bold text-bluegray-700 text-900 block mb-2 ">Notificaciones</span>
                </div>
                <div class="flex flex-column gap-3 overflow-auto" style="height: 200px;">
                    @for (item of notificacion; track $index) {
                    <div class=" bg-gray-300 border-round-3xl p-3">
                        <p>{{item.proposal_text ?? "I have experience building apps similar to this. Let's collaborate."}}</p>
                    </div>
                    }
                </div>
            </div>
        </p-overlayPanel>

        <p class="font-semibold mt-3 name-porfile">{{currentUser.displayName}}</p>
        <button class="p-link layout-topbar-button" (click)="menu.toggle($event)">

            <img style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover;" [src]="currentUser.photoURL"
                alt="">
            <span class="ml-2">{{currentUser.displayName}}</span>
        </button>
        <!-- <p-button icon="pi pi-check" [rounded]="true" [text]="true" /> -->
        <!-- <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" /> -->
        <!-- <button class="p-link layout-topbar-button" (click)="onConfigButtonClick()">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
    </div>
</div>


<!-- <p-sidebar [(visible)]="sideProfile" position="right">
    <h3>Right Sidebar</h3>
</p-sidebar> -->

<!-- } -->

<p-confirmDialog key="header-dialog"></p-confirmDialog>
<p-menu #menu [model]="items" [popup]="true" />
