<div class="main-container">
    <form [formGroup]="emailForm">
        <div class="flex flex-column mb-4">
            <label class="mb-1">Correo electrónico<span style="color:red">*</span></label>
            <input type="text" pInputText formControlName="email" trim="blur"/>
            <small *ngIf="emailForm.controls['email'].invalid && emailForm.controls['email'].touched" class="p-error">* Requerido</small>
        </div>
    </form>
</div>

<div class="flex justify-content-end">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-danger"
    (click)="ref.close(false)"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [loading]="isLoading"
    (click)="ref.close(false)"></button>
</div>
